.boxs {
    display: inline-block;
    width: 1200px;
    margin-top: 2%;
}

.box {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-left: 2%;
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c4c3c3;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 2%;
  }
  .btn:hover {
    border-color: #646cff;
  }
  .btn:focus,
  .btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.text {
    height: 25px;
    border-radius: 10px;
    background-color: #a0d6f0;
}  
  