#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.style-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

.style-input {
  height: 25px;
  border-radius: 7px;
  background-color: rgb(228, 230, 230);
}
